.powerSlider {
    flex-direction: row;
}

.title {
    margin-top: 0;
}

.powerSlider {
}

.sliderContainer {
    width: 100%;
}

.slider {
    width: auto;
    margin-right: 3px;
}

.title {
    -unity-text-align: upper-center;
    -unity-font-style: bold;
    font-size: 24px;
    background-color: rgba(116, 116, 116, 255);
}

.powerSliderTextField {
    min-width: auto;
    width: 50px;
}
